*{
	margin:0px;
	padding: 0px;
	box-sizing: border-box;
  font-family: 'Montserrat';
}

a{
  text-decoration: none;
  color:white;
}

body{
    font-size:16px;
  }

/*SCREEN1*/
  #screen1{
    background:url(http://imgfz.com/i/lQEs3Vq.png);
    background-position: center;
    background-attachment: contain;
    background-size: cover;
    display: flex;
    height: 100vh;
	}

	    #imgContainer{
      width:50%;
      display:flex;
      justify-content:flex-end;
      }
      
      #imgContainer img{
        width:100%;
        object-fit: cover;
        object-position: center center;
        }

		  #textContainer1{
		  /*	background: #f07b3f;*/
        color:white;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        width:50%;
        padding:3%;
      }
 
      #title1{/*bienvenidos*/
        font-size: 1.25em;
        font-weight: normal;
        text-transform: uppercase;
      }

      #title2{/*pokekanto*/
        font-size: 3.1em;
        font-weight: 900;
      }

      #text1{
        font-size: 0.9em;
        font-weight: normal;
        width: 100%;
        max-width:90%;
        padding-top: 1.25rem;
      }

      #title3{/*categorias*/
        font-size: 1.1em;
        font-weight: bold;
        padding-top: 3rem;
      }

     	#categories {
       /* background: #ffd460;*/
        padding-top: 1rem;
			}

	    .category1 {
				/*background: #856c8b;*/
        display: flex;
        flex:1 1 auto;
        align-items: center;
        justify-content: flex-start;
      }
      
      .icon{
        /*background: #ffd460;*/
        display:flex;
        margin: 0px;
        padding-top: 1.25rem;
      }

      .icon img{

        width: 70%;
        height: 70%;
      }

      .textIcon {
        color: white;
        font-size: 0.9em;
        font-weight: bold;
        text-transform: uppercase;
        margin-left: 0.7rem;
        padding-top: 1.25rem;
        cursor: pointer;

      }

      .textIcon:hover {
        color: rgb(16, 255, 144);
      }

    
 /*SCREEN 2*/
 
	.screenBack{
		background: linear-gradient(360deg, #25BF88 0%, #0097A5 70.31%);
		display: flex;
    color:white;
    flex-direction:column;
    padding:0 4rem 0 4rem;
    
    
	}

      header{
       /*background-color:#dfa88c;*/
        display: flex;
        flex-flow: row nowrap;
        max-width:81.3rem;
        height: 4.3rem;
        font-weight: bold;
        text-transform: uppercase;
      }
 
      #menu{
       /*background:rgb(140, 215, 210);*/
        font-size:0.8em;
        width: 70%;
        display: flex;
        flex-wrap:wrap;
        align-items: flex-end;
       
      }

      .menuH {
       cursor: pointer;
       margin-right:40px;
      }

      .menuH:hover{
        color: #10ff90;
      }

      #searcher{
        /*background:rgb(208, 215, 134);*/
        display:flex;
        align-items:flex-end;
        width:30%;
        justify-content: flex-end;
       
      }
   
      #searcher input{
        height: 2.5em;
        width: 20em;
        border-radius:1.25em;
        background: rgba(255, 255, 255, 0.392);
        color:white;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        text-align: center;
        margin-right: 10px;
      } 

      *::-webkit-input-placeholder {
        color:rgb(255, 255, 255);
        font-style: italic;
        font-size: 0.9em;
        font-weight: 600;
        text-align: center;
      }

      #search{
       /*background:red;*/
        cursor: pointer;
        margin:0 0 0 0; 
      }

     #search img{
       width:20px;
     }

     #search img:hover{
      background:url(http://imgfz.com/i/MzfHFZ9.png);
      background-repeat: no-repeat;
      z-index:1;

     

    }
     

      .textContainer2{
          /*background: #35495e;*/
          padding:7% 0 4% 0;
          display: flex;
          flex-flow: column wrap;
          width:100%;
        
        }

      #title4{
        font-size:2.2em;
      }

      #text2{/*texto pokedex*/
       margin-top:1.5rem;
       font-size: 0.9em;
      
      }

      #containerFilters{
      /*background: rosybrown;*/
        display:flex;
        width:30rem;
        text-transform: uppercase;
        flex-wrap:wrap;
       }

      .filters{/*borde filtros*/
        margin: 0 2rem 0 0;
        border-radius:1.8em;
        display:inline-block;
        overflow:hidden;
        border:0.2em solid rgba(109, 255, 211, 0.995);
        width: 10rem;
        cursor: pointer;
        text-align:center;
        
      }

      .filter{
        background:rgb(255, 233, 143);
        width: 80%;
        height:2.3em;
        border:0em;
        outline:none;
        background:none;
        cursor: pointer;
        color:white;
        font-size:0.8em;
        font-weight: bold;
        text-transform: uppercase;
      }


      #root{

       /*background: #1ca4ff;*/
        margin-top: 2rem;
        display: flex;
        justify-content:space-evenly;
        flex-wrap:wrap; 
        justify-content: center;
        margin-bottom:4rem;
        }


      .pokemon{
        width: 11.3em;
        height: 11.3em; 
        box-sizing: border-box;
        border-radius: 1.5em;
        margin:1.2em;
        background: rgba(255, 255, 255, 0.374);
        color: #2BBA99;
        font-weight: bold;
        cursor: pointer;
        text-align:center;
      
      }
        
      .imgPoke{
        width:60%;
      }

     .namePoke{ /*nombre pokemon*/
        background: white;
        border-radius: 1.5rem 1.5rem 0 0;
        padding: 0.4em;
        font-size:1.1rem;
      }

      .numPoke{/*numero pokemon*/
        color: white;
        font-weight: bold;
        margin:0.4rem;
        font-size:1rem;
        
      }

      #rootTextFilter{
        /*background:rgb(254, 165, 165);*/
        width: 60%;
        height: 220px;

      }

      

      #textContainerPokedex{
         /*background:rgb(220, 115, 115);*/
        
      }

      #textContainerStats{
        /*background:rgb(220, 115, 115);*/
        margin-bottom: 8px;
      }

      #textContainerCrianza{
         /*background:rgb(220, 115, 115);*/
        margin-bottom: 8px;
      }

      







      footer{
        /*background: #0197A5;*/
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow:column wrap;
        width:100%;
        height: 210px;
        color:white;
        font-size:0.75rem;

      }

      #encuesta{
        border-radius:15px;
        width:200px;
        height:35px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin:40px;
        font-size:15px;
        font-weight: 600;
        background: rgba(0, 151, 165, 0.516);
        border:0.1em solid rgba(109, 255, 211, 0.995);
        
      }

      
  


















/*____________________________________________________
MEDIA*/
@media (max-width:768px){
/*SCREEN1*/
  #imgContainer{
    display:none;
  }
  #screen1{
    justify-content: center;
  }
  #categories {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  body{
    font-size:15px;
  }

/*SCREEN2*/

header{
  flex-flow: column wrap;
  height:130px;
}

#menu{
  width:100%;
  height: 50%;
  justify-content:space-between;
}

.menuH {
  margin:0;
  
 }

#searcher{
  width:100%;
  justify-content:flex-start;
  height: 50%;
}

#textContainer2{
   padding:13% 0 4% 0;
 }
 

.pokemon{
  border-radius: 1.65em;
}
}


@media (max-width:520px){
  /*SCREEN1*/
  body{
    font-size:15px;
  }
  #textContainer1{
      width:70%;
    }
  #title1{
    font-size: 1.25em;
  }
  #title2{
    font-size: 2.3em;
  }
  #text1{
    max-width: 100%;
    padding-top: 1.25rem;
  }

  
  /*SCREEN2*/
	.screenBack{
    padding:0 2rem 0 2rem;
  }

  #containerFilters{
    flex-flow: column wrap;
    justify-content: space-between;
    width:100%;
    align-items: center;
 }
 .filters{
 margin: 0 0 2rem 0;
 }
 #root{
  margin-top: 0.3rem;
   }

   .icon img{

    width: 60%;
    height: 60%;
  }
  }








